.url-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    word-wrap: break-word;
    width: 900px;
    gap: 30px;
}


.url-row *{
    width: 300px;
}

.home{
    padding: 15px;
}

.url-table{
    overflow: auto;
}

.url-table__head{
    border-bottom: 1px solid grey;
}

.url-body{
    padding: 5px;
    width: fit-content;
    background: #f1f1f1
}